.sections
{
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
.top-buffer 
{ 
	margin-top:20px; 
}
.icons
{
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
.phonenum 
{
	background-color: rgb(50, 180, 228);
	border-radius: 5px 5px 5px 5px;
	font-size: 32px;
	text-align: center;
	display: block;
	width: 65%;
	padding: 20px;
	opacity:1.0;
	color:white;
	position:absolute;
	top:120%;
	text-decoration:none;
}	
.phonenum2 
{
	background-color: rgb(50, 180, 228);
	border-radius: 5px 5px 5px 5px;
	font-size: 32px;
	text-align: center;
	display: block;
	width: 65%;
	padding: 20px;
	opacity:1.0;
	color:white;
	position:absolute;
	top:100%;
	text-decoration:none;
}
iframe
{
	width:800;
	height:600;
	border:0
}	
.inner {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
  }
#collapseposition
{
	position:absolute;
	left:82%;
	top:15%;
}
#pages
{
	padding-top:120px;
	padding-bottom: 15px;
}
.contain 
{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 0px;
}
#pad
{
	position:absolute;
	left:5%;
	top:20%;
	background-color: black;
	width: 35%;
	height: 20%;
	opacity: 0.7;
	border-radius:6px;
	text-align:justify;
	padding:10px;
}
#navvv
{
	opacity: 0.9;
	font-size:120%;
	cursor: pointer;		
}
#inner2
{	
	opacity: 1.9;
}
table,th,td
{
	border:1px solid black;
	padding-right: 100px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#navb li:hover
{
text-shadow:0 0 3px #1E90FF;
}
@media(max-width:767px){
#pad
{
	position:absolute;
	left:5%;
	top:20%;
	background-color:transparent;
	width: 60%;
	height: 70%;
}
#inner2 p,h3
{
	display:none;
}
.phonenum 
{
	background-color: rgb(50, 180, 228);
	border-radius: 5px 5px 5px 5px;
	font-size: 20px;
	text-align: center;
	display: block;
	width: 56%;
	padding: 0px;
	opacity:1.0;
	color:white;
	position:absolute;
	top:10%;
	left:-5%;
	text-decoration:none;
	font-weight:bold;
}		

}
@media(min-width:768px) and (max-width:799px){
#navb
{
position:absolute;
left:23%;
top:35%;  
}	  
#pad
{
	position:absolute;
	left:5%;
	top:18%;
	background-color: black;
	width: 45%;
	height: 30%;
}
.phonenum
{
	background-color: rgb(50, 180, 228);
	border-radius: 5px 5px 5px 5px;
	font-size: 28px;
	text-align: center;
	display: block;
	width: 80%;
	padding: 20px;
	opacity:1.0;
	color:white;
	position:absolute;
	top:50%;
	left:125%;
	text-decoration:none;
	font-weight:bold;
}	
}
@media(min-width:800px) and (max-width:889px){
#navb
{
position:absolute;
left:23%;
top:35%;  
}	  
#pad
{
	position:absolute;
	left:5%;
	top:15%;
	background-color: black;
	width: 35%;
	height: 30%;
}
.phonenum
{
	background-color: rgb(50, 180, 228);
	border-radius: 5px 5px 5px 5px;
	font-size: 28px;
	text-align: center;
	display: block;
	width: 80%;
	padding: 20px;
	opacity:1.0;
	color:white;
	position:absolute;
	top:50%;
	left:180%;
	text-decoration:none;
	font-weight:bold;
}	
}
@media(min-width:890px) and (max-width:1039px){
#navb
{
position:absolute;
left:32%;
top:35%;  
}	  
#pad
{
	position:absolute;
	left:5%;
	top:20%;
	background-color: black;
	width: 65%;
	height: 25%;
}
.phonenum 
{
	background-color: rgb(50, 180, 228);
	border-radius: 5px 5px 5px 5px;
	font-size: 20px;
	text-align: center;
	display: block;
	width: 40%;
	padding: 10px;
	opacity:1.0;
	color:white;
	position:absolute;
	top:5%;
	left:102%;
	text-decoration:none;
	font-weight:bold;
}	
}
@media(min-width:1040px) and (max-width:1198px){
#navb
{
position:absolute;
left:38%;
top:35%;  
}	  
#pad
{
	position:absolute;
	left:5%;
	top:20%;
	background-color: black;
	width: 35%;
	height: 50%;
}
}
@media(min-width:1199px) and (max-width:1334px){
#navb
{
position:absolute;
left:42%;
top:35%;  
}	  
#pad
{
	position:absolute;
	left:5%;
	top:20%;
	background-color: black;
	width: 35%;
	height: 45%;
}
}
@media(min-width: 1335px){
#navb
{
position:absolute;
left:55%;
top:35%;  
}
#pad
{
	position:absolute;
	left:2%;
	top:55%;
	background-color: black;
	width: 30%;
	height: 50%;
	
}
}
@media(min-width:1173px){
.sections
{
 	min-height:340px;
}
}
.navbar-nav > li{
padding-left:5px;
padding-right:5px;
margin-right:5px;
margin-left:5px;
}
